# {{ potos_basics_client_name }}-ansible-pull@.service
# {{ ansible_managed }}
[Unit]
Description=Runs ansible pull for {{ potos_basics_client_name }} client
AssertPathExists={{ potos_basics_ansible_workdir }}

[Service]
Type=oneshot
ExecStart=/usr/bin/{{ potos_basics_client_name | lower }}-ansible-pull -r %i

